html, body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: start;
}

.container {
    margin-top: 3rem;
    padding: 0.5rem;
    width: 425px;
    background-color: white;

    border-radius: 3px;
    border: 1px solid black;
}

form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input[type="color"]{
    height: 34.4px;
    padding: 0;
    border: 0.5px solid #D1D5DB;;
}

select {
    /* appearance: none;
    -webkit-appearance: none; */

    width: 200px;
    padding: 0.5rem;

    border: 1px solid #D1D5DB;
    border-radius: 6px;

    background: #FFFFFF;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -2px rgba(0, 0, 0, 0.05), 0px 0px 0px 1px rgba(0, 0, 0, 0.05);
}


button {
    width: 120px;
    padding: 0.68rem 0.5rem;

    font-size: 0.7rem;
    font-weight: 300;
    line-height: 1;

    border: 1px solid #D1D5DB;
    border-radius: 6px;

    color: #374151;
}

button:hover {
    background-color: #bababa;
}

.color-grid {
    margin: 1rem 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
            "a1 a2 a3 a4 a5"
            "h1 h2 h3 h4 h5";
}

.color-grid div {
    height: 60vh;
}

.color-grid h3 {
    font-size: 0.75rem;
    font-weight: 400;
    text-align: center;
}

.color-one {
    grid-area: a1;
}

.color-two {
    grid-area: a2;
}

.color-three{
    grid-area: a3;
}

.color-four {
    grid-area: a4;
}

.color-five {
    grid-area: a5;
}

.hex-color-one {
    grid-area: h1;
}

.hex-color-two {
    grid-area: h2;
}

.hex-color-three {
    grid-area: h3;
}

.hex-color-four {
    grid-area: h4;
}

.hex-color-five {
    grid-area: h5;
}

