html, body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: start;
}

.container {
    margin-top: 3rem;
    padding: 1rem;
    width: 80%;
    background-color: white;

    border-radius: 3px;
    border: 1px solid black;
}

form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

select {
    width: 200px;
    padding: 0.5rem;

    border: 1px solid #D1D5DB;
    border-radius: 6px;
}
