@font-face {
    font-family: 'Timer';
    src: url(CursedTimerUlil-Aznm.ttf);
}

body {
    margin: 0;
    color: #EEEEEE;
    font-family: Verdana, sans-serif;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
    background: #1B244A;
    border-radius: 6px;
    padding: 10px;
    margin: 5px;
}

.score {
    font-family: 'Timer', sans-serif;
    background: #0a0001;
    font-size: 90px;
    color: #F94F6D;
    width: 160px;
    margin: 20px;
    padding: 10px;
    border-radius: 6px;
}

.quarter {
    font-family: 'Timer', sans-serif;
    background: #0a0001;
    font-size: 60px;
    color: #F94F6D;
    width: 90px;
    margin: 20px;
    margin-bottom: 0;
    padding: 10px;
    border-radius: 6px;
    text-align: center;
}

.qtr-container {
    display: flex;
    justify-content: center;
}

.qtr-btn {
    background: none;
    font-family: 'Timer', sans-serif;
    color: #9AABD8;
    border: 3px solid #9AABD8;
    border-radius: 5px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 3px;
    padding: 6px;
}

.reset-btn {
    margin-top: 5px;
}

button {
    background: none;
    font-family: 'Timer', sans-serif;
    color: #9AABD8;
    border: 3px solid #9AABD8;
    border-radius: 5px;
    padding: 10px;
}

button:hover {
    border: 3px solid #c5d5ff;
    color: #c5d5ff;
}