*, *::before, *::after{
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

/* MOBILE */

/* --- HEADER --- */

header {
    display: flex;
    flex-direction: row;
    padding: 0 1rem 0;

    justify-content:  space-between;
    align-items: center;
}

header div {
    display: flex;
    align-items: center;
    justify-content: start;
}

.logo {
    width: 23.16px;
    height: 23.16px;
}

header h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 0.846875em;
    font-weight: 700;
    line-height: 1.08;
    letter-spacing: -0.03em;

    color: #0E0E0E;

    padding: 0 0.15rem 0;
}

nav {
    font-family: 'Source Sans 3', sans-serif;
    width: 35%;
}

nav ul {
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

nav a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;

    font-weight: 600;
    font-size: 0.75em;
}

/* --- HERO --- */

.hero-section {
    width: 100vw;
    height: 43vh;
    background-image: url('../images/article-images/article-image-hero.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: end;

    color: white;
    font-family: 'Source Sans 3', sans-serif;

}

.hero-section p, .hero-section h1 {
    margin: 0;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.hero-article-date {
    font-size: 0.75rem;
    padding-top: 1rem;
}

.hero-heading {
    font-size: 2.125rem;
    line-height: 1.15;
    padding: 0.35rem 0;
}

.hero-preview {
    font-size: 0.85rem;
    line-height: 1.5;
    padding-bottom: 1rem;
}




/* TABLET */

@media (min-width: 610px) {
    nav {
        width: 30vw;
    }

    .hero-section {
        width: 100vw;
        height: 100vh;
        background-image: url('../images/article-images/blog-image-hero.png');
    }

    .hero-section p, .hero-section h1 {
        margin: 0;
        padding-left: 4rem;
        width: 60vw;
    }

    .hero-article-date {
        font-size: 1rem;
    }

    .hero-heading {
        font-size: 2.625rem;
        line-height: 1.15;
        padding: 0.35rem 0;
    }

    .hero-preview {
        font-size: 1rem;
        line-height: 1.5;
        padding-bottom: 4rem;
    }
}

/* LAPTOP */

@media (min-width: 769px) {
    nav {
        width: 20vw;
    }

    .hero-section p, .hero-section h1 {
        margin: 0;
        padding-left: 5rem;
        width: 60vw;
    }

    .hero-article-date {
        font-size: 1.5rem;
    }

    .hero-heading {
        font-size: 3.625rem;
        line-height: 1.15;
        padding: 0.35rem 0;
    }

    .hero-preview {
        font-size: 1.5rem;
        line-height: 1.5;
        padding-bottom: 5rem;
    }
}