*, *::before, *::after{
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 1em 1fr 1em;
    /* gap: 1em; */
    grid-template-areas:
        "... .... ..."
        "... head ..."
        "... hero ..."
        "... cont ..."
        "... foot ..."
        "... .... ...";
}

/* MOBILE */

/* --- HEADER --- */

.site-header {
    display: flex;
    flex-direction: row;
    padding: 0 1rem 0;

    justify-content:  space-between;
    align-items: center;
}

.site-header div {
    display: flex;
    align-items: center;
    justify-content: start;
}

.logo {
    width: 23.16px;
    height: 23.16px;
}

.site-header h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 0.846875em;
    font-weight: 700;
    line-height: 1.08;
    letter-spacing: -0.03em;

    color: #0E0E0E;

    padding: 0 0.15rem 0;
}

nav {
    font-family: 'Source Sans 3', sans-serif;
    width: 35%;
}

nav ul {
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

nav a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;

    font-weight: 600;
    font-size: 0.75em;
}

/* --- HERO --- */

.hero-section {
    width: 100vw;
    height: 43vh;
    background-image: url('../images/article-images/article-image-hero.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: end;

    color: white;
    font-family: 'Source Sans 3', sans-serif;

}

.hero-section p, .hero-section h1 {
    margin: 0;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.hero-article-date {
    font-size: 0.75rem;
    padding-top: 1rem;
}

.hero-heading {
    font-size: 2.125rem;
    line-height: 1.15;
    padding: 0.35rem 0;
}

.hero-preview {
    font-size: 0.85rem;
    line-height: 1.5;
    padding-bottom: 1rem;
}

/* --- ARTICLE SECTION --- */

.container {
    margin-top: 2rem;
    display: grid;
    grid-area: cont;
    grid-template-columns: 1fr;
    grid-template-areas:
        "a1"
        "a2"
        "a3";
}

.container a {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;

    font-family: 'Source Sans 3', sans-serif;
    text-decoration: none;
    color: black;
}

.container h2{
    margin: 0;
    font-weight: bold;
}

.article-date {
    margin-bottom: 0.25rem;
    font-size: 0.75rem;
}

article {
    display: flex;
    flex-direction: column;
}

article img {
    width: 100%;
}

.article-preview {
    font-size: 0.85rem;
    color: #505050;
    margin-bottom: 2rem;
}

.article-preview p {
    margin: 0;
}





/* TABLET */

@media (min-width: 610px) {
    nav {
        width: 30vw;
    }

    .hero-section {
        width: 100vw;
        height: 100vh;
        background-image: url('../images/article-images/blog-image-hero.png');
    }

    .hero-section p, .hero-section h1 {
        margin: 0;
        padding-left: 4rem;
        width: 60vw;
    }

    .hero-article-date {
        font-size: 1rem;
    }

    .hero-heading {
        font-size: 2.625rem;
        line-height: 1.15;
        padding: 0.35rem 0;
    }

    .hero-preview {
        font-size: 1rem;
        line-height: 1.5;
        padding-bottom: 4rem;
    }
}

/* LAPTOP */

@media (min-width: 769px) {
    nav {
        width: 20vw;
    }

    .hero-section p, .hero-section h1 {
        margin: 0;
        padding-left: 5rem;
        width: 60vw;
    }

    .hero-article-date {
        font-size: 1.5rem;
    }

    .hero-heading {
        font-size: 3.625rem;
        line-height: 1.15;
        padding: 0.35rem 0;
    }

    .hero-preview {
        font-size: 1.5rem;
        line-height: 1.5;
        padding-bottom: 5rem;
    }
}


/* --- GRID --- */

.site-header {
    grid-area: head;
}

.hero-section {
    grid-area: hero;
    grid-column: span 3;
}

footer {
    grid-area: foot;
}

.article-one {
    grid-area: a1;
}

.article-two {
    grid-area: a2;
}

.article-three {
    grid-area: a3;
}

.article-four {
    grid-area: a4;
}

.article-five {
    grid-area: a5;
}

.article-six {
    grid-area: a6;
}

