html, body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans 3', sans-serif;
}

h3, p {
    font-size: 1rem;
}

h3, #num-likes, #user-id {
    font-weight: 900;
}

.block {
    display: block;
}

#user-profile-pic, #post-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: right;
    margin: auto 0;
}

/* HEADER */

header {
    width: 100%;
}

.container-header {
    width: 575px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 10px;
    border-bottom: 1px solid #C6C6C6;
}

#logo, #user-profile-pic {
    display: block;
    align-items: center;
}

#logo {
    width: 187px;
    /* height: 33px; */
}

/* MAIN SECTION */

.container {
    width: 575px;
    margin: 0 auto;
}

.container img {
    width: inherit;
}

.post-header {
    display: flex;
    flex-direction: row;
    padding: 20px;
    align-items: center;
}

#post-username, #post-location {
    margin: 0;
    padding: 0 10px;
    text-align: justify;
}

#post-location {
    font-size: 14px;
}

.post-icons {
    width: 25%;
    display: flex;
    justify-content: space-between;
}

.post-icons img {
    margin-top: 1.25rem;
    width: 36px;
}




