html, body {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
}

.container-header {
    width: 575px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 10px;
    border-bottom: 1px solid #C6C6C6;
}

#logo, #user-profile-pic {
    display: block;
    align-items: center;
}

#logo {
    width: 187px;
    /* height: 33px; */
}

#user-profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: right;
    margin: auto 0;
}
.container {
    width: 575px;
    border: 1px solid black;
}

