*, *::before, *::after{
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
}

.container {
    position: relative;
}

header {
    background: url('images/header-bg.png');
    background-color: #0E0E0E;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 30vh;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-heading {
    margin: 0;
    color: white;
    padding-left: 2rem;
    font-weight: 1000;
}

.my-watchlist {
    color: white;
    text-decoration: white;
    font-size: 0.85rem;
    font-weight: 600;
    padding-right: 2rem;
}

form {
    position: absolute;
    height: 2rem;

    top: 30vh;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 80%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: white;
    border: 1px solid #9CA3AF;
    border-radius: 6px;
    /* padding: 0.25rem; */
}

input, .search-btn {
    height: 100%;
    border: 0;
}

i{
    color: #9CA3AF;
    font-size: 0.75rem;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}

input {
    height: 100%;
    width: 100%;

    color: #9CA3AF;
    border-right: 1px solid #9CA3AF;
}


form button {
    height: 100%;
    width: 30%;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    padding: 0 1.5rem;
    color: #374151;
}

button:hover {
    color: whitesmoke;
    background: rgb(152, 152, 152);
}

main {
    height: 70vh;
    background: #f0f0f0;
}